<tbody>
  <tr>
    <td>
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="border-collapse: collapse; width: 100%; min-width: 100%"
      >
        <tbody>
          <tr>
            <td valign="top" style="vertical-align: top">
              <table
                class="m_-9164766617201347847inner_table"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="600"
                style="border-collapse: collapse; margin: 0 auto; width: 600px"
              >
                <!-- <tbody>
                  <tr>
                    <td
                      style="
                        text-align: center;
                        font-size: 1px;
                        line-height: 1px;
                      "
                    >
                      <div>
                        <a
                          href="https://email.awscloud.com/dc/qXUrgU3MlBotfeZ84P-vCWiV7sv5FQ8zzkyS3FN4Qmc7zdP0LY515nh1Uy5bhcFTeHOPPxR-ry4mZHUCItXScF6Ub5eyglFxiJtk-xeu7WrLXWJ7M-ndEyADyXlqSqAIO4CQVlYnpkBdMQ0p92T7R5QDPXge7pB4jLUB8Ca4BnXcv3otqZLlqGxBGfjNhEFBHM4Bivg6oGj_58KiV1Eowy7lpJeuFq12tYQIf22VnmQzTpA54Hz9vlh3ZHqqeoww78A3C9fywRStnjpODOBJrQ==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                          style="display: block"
                          target="_blank"
                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/qXUrgU3MlBotfeZ84P-vCWiV7sv5FQ8zzkyS3FN4Qmc7zdP0LY515nh1Uy5bhcFTeHOPPxR-ry4mZHUCItXScF6Ub5eyglFxiJtk-xeu7WrLXWJ7M-ndEyADyXlqSqAIO4CQVlYnpkBdMQ0p92T7R5QDPXge7pB4jLUB8Ca4BnXcv3otqZLlqGxBGfjNhEFBHM4Bivg6oGj_58KiV1Eowy7lpJeuFq12tYQIf22VnmQzTpA54Hz9vlh3ZHqqeoww78A3C9fywRStnjpODOBJrQ%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798958000&amp;usg=AFQjCNGcuGSwG8n8gaBbs8kcu0WFeyqV9Q"
                          ><img
                            style="border: 0; display: block"
                            border="0"
                            src="https://ci4.googleusercontent.com/proxy/8kIQffcC8-69eFd9h-aXz5SdK3bbW3feq0zhNGFuchB8XX-k0qNcGM_8n7wl9cCR6sBYEIbf0bQjgZEdI91py6E275RDxnkn7H9ZBC3yDFZ-gNie2F_CHjLNkPiGHHrUvcj3FT1XgUsuL2xpB7HggiAtvuRiufVHjd58VO-ARtfmmCk=s0-d-e1-ft#https://assets.awscloud.com/p/rp/76a1d212e5025fe4.png?show-content=&amp;campaign=&amp;language=Portuguese&amp;program-token="
                            class="m_-9164766617201347847full-width CToWUd"
                        /></a>
                      </div>
                    </td>
                  </tr>
                </tbody> -->
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td
      id="m_-9164766617201347847template-wrapper"
      style="background-color: #ffffff"
      bgcolor="#ffffff"
    >
      <table
        id="m_-9164766617201347847Hidden-Pre-Header"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td
              style="
                display: none !important;
                font-size: 1px;
                color: #ffffff;
                line-height: 1px;
                max-height: 0px;
                max-width: 0px;
                opacity: 0;
                overflow: hidden;
              "
            >
              <div id="m_-9164766617201347847preheader_section">
                <p>
                  Você pode estar qualificado para obter um crédito de
                  300&nbsp;USD da AWS.
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847header_sec"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <div id="m_-9164766617201347847header_section">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td
                        valign="top"
                        style="vertical-align: top; background-color: #ffffff"
                      >
                        <table
                          class="m_-9164766617201347847inner_table"
                          cellpadding="0"
                          cellspacing="0"
                          align="center"
                          border="0"
                          width="600"
                          style="
                            border-collapse: collapse;
                            margin: 0 auto;
                            width: 600px;
                          "
                        >
                          <tbody>
                            <tr>
                              <td
                                height="15"
                                style="line-height: 1px; font-size: 1px"
                              >
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td
                                class="m_-9164766617201347847center_align"
                                style="text-align: center; vertical-align: top; background-color: #003f98"
                              >
                                <a
                                  href="https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD8NAAKOgAMmC9OjIqnaB10nu35GXAi7UyhNDOn3Zjg-k0VSPaGmLHXGPlmY0OYQxF0abu4jsqsZbdIrl8bQmcPXbKp4P5d5gOYYOcP0ygw7ODZdQHmK6MX-u8ERjBLP0RXBYKbwLl3DJ_C1GOLK5u9Y-Kzse287z5ZnmsDtALZBHI_Ou3EKEC0CDbytPwQAMoOoipgWgOy8ZQoVlbi__fKSr1L-pmYLXYLvS6jwSfLPsPjS6EqNDTFeE_WoAEGyvY44J1ldLjiQvDFZ6Kqa3P-GDQE1OlThX-M0Nwh1ExVOJ4MwxvCU06cKsFVL2Uz4fOg==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                  target="_blank"
                                  data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD8NAAKOgAMmC9OjIqnaB10nu35GXAi7UyhNDOn3Zjg-k0VSPaGmLHXGPlmY0OYQxF0abu4jsqsZbdIrl8bQmcPXbKp4P5d5gOYYOcP0ygw7ODZdQHmK6MX-u8ERjBLP0RXBYKbwLl3DJ_C1GOLK5u9Y-Kzse287z5ZnmsDtALZBHI_Ou3EKEC0CDbytPwQAMoOoipgWgOy8ZQoVlbi__fKSr1L-pmYLXYLvS6jwSfLPsPjS6EqNDTFeE_WoAEGyvY44J1ldLjiQvDFZ6Kqa3P-GDQE1OlThX-M0Nwh1ExVOJ4MwxvCU06cKsFVL2Uz4fOg%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNHLgSSte1S33R7E_FMnzMIJ5S_WqQ"
                                >
                                  <img
                                    alt="bandigital"
                                    src="https://bandigital-public-bucket.s3.amazonaws.com/logo-bandigital.png "
                                    style="
                                      outline-style: none;
                                      border-style: none;
                                    "
                                    width="300"
                                    border="0"
                                    class="CToWUd"
                                  />
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td
                                height="15"
                                style="line-height: 1px; font-size: 1px"
                              >
                                &nbsp;
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847body_section2new87515453-426c-4463-ac6b-93e40d94a0f7"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <table
                class="m_-9164766617201347847main"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="640"
                style="border-collapse: collapse; margin: 0 auto; width: 640px"
              >
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="background-color: #ffffff">
                      <table
                        class="m_-9164766617201347847inner_table"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        border="0"
                        width="600"
                        style="
                          border-collapse: collapse;
                          margin: 0 auto;
                          width: 600px;
                        "
                      >
                        <tbody>
                          <tr>
                            <td
                              height="10"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                font-size: 25px;
                                font-family: Helvetica, Arial, sans-serif;
                                color: #333333;
                                line-height: 30px;
                                text-align: center;
                              "
                              align="center"
                            >
                              <div
                                id="m_-9164766617201347847body_sec2_titlesec87515453-426c-4463-ac6b-93e40d94a0f7"
                              >
                                <p>
                                  Solicitação criada com sucesso!
                                </p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="10"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847body_section2_text"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <table
                class="m_-9164766617201347847main"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="640"
                style="border-collapse: collapse; margin: 0 auto; width: 640px"
              >
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="background-color: #ffffff">
                      <table
                        class="m_-9164766617201347847inner_table"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        border="0"
                        width="600"
                        style="
                          border-collapse: collapse;
                          margin: 0 auto;
                          width: 600px;
                        "
                      >
                        <tbody>
                          <tr>
                            <td
                              height="0"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                font-size: 16px;
                                font-family: Helvetica, Arial, sans-serif;
                                color: #333333;
                                line-height: 24px;
                              "
                              align="left"
                            >
                              <div id="m_-9164766617201347847body_sec2_textsec">
                                <p>
                                  Sua solicitação acabou de ser criada na BanDigital. Fique atento ao seu e-mail para os próximos passos.
                                </p>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="0"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847body_section62d226dbf-9b8a-4c5c-8a0f-a990f648c178"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <table
                class="m_-9164766617201347847main"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="640"
                style="border-collapse: collapse; margin: 0 auto; width: 640px"
              >
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="background-color: #ffffff">
                      <table
                        class="m_-9164766617201347847inner_table"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        border="0"
                        width="600"
                        style="
                          border-collapse: collapse;
                          margin: 0 auto;
                          width: 600px;
                        "
                      >
                        <tbody>
                          <tr>
                            <td
                              colspan="3"
                              height="0"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              class="
                                m_-9164766617201347847center_align
                                m_-9164766617201347847res
                              "
                              width="270"
                              style="
                                width: 270px;
                                text-align: left;
                                vertical-align: top;
                              "
                            >
                              <table
                                style="width: 100%"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                                align="left"
                              >
                                <tbody>
                                  <tr>
                                    <td
                                      style="
                                        font-family: Helvetica, Arial,
                                          sans-serif;
                                        font-size: 16px;
                                        color: #333333;
                                        font-weight: 400;
                                        line-height: 24px;
                                      "
                                      valign="top"
                                      align="left"
                                    >
                                      <div
                                        id="m_-9164766617201347847body_sec6_right_text2d226dbf-9b8a-4c5c-8a0f-a990f648c178"
                                      >
                                        <p>
                                          
                                        </p>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td
                              class="
                                m_-9164766617201347847res
                                m_-9164766617201347847iphoneHeight
                              "
                              width="60"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                            <td
                              class="
                                m_-9164766617201347847center_align
                                m_-9164766617201347847res
                              "
                              width="270"
                              style="
                                width: 270px;
                                text-align: left;
                                vertical-align: top;
                              "
                            >
                              <table
                                style="width: 100%"
                                width="100%"
                                cellspacing="0"
                                cellpadding="0"
                                border="0"
                              >
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td
                              colspan="3"
                              height="10"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847body_section3d4a1e0f4-e6e3-49ac-a51e-e0f9bb6811e0"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <table
                class="m_-9164766617201347847main"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="640"
                style="border-collapse: collapse; margin: 0 auto; width: 640px"
              >
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="background-color: #ffffff">
                      <table
                        class="m_-9164766617201347847inner_table"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        border="0"
                        width="600"
                        style="
                          border-collapse: collapse;
                          margin: 0 auto;
                          width: 600px;
                        "
                      >
                        <tbody>
                          <tr>
                            <td
                              height="5"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" style="vertical-align: top">
                              <div
                                id="m_-9164766617201347847body_sec1_cta_btnd4a1e0f4-e6e3-49ac-a51e-e0f9bb6811e0"
                              >
                                <div>
                                  <table
                                    cellpadding="0"
                                    cellspacing="0"
                                    border="0"
                                    align="center"
                                    style="margin: 0 auto"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          bgcolor="#232F3E"
                                          style="
                                            background-color: #e8308a;
                                            font-family: Helvetica,Arial,sans-serif;
                                            color: #ffffff;
                                            border: 1px solid #e8308a;
                                            font-size: 16px;
                                            font-weight: 400;
                                            text-align: center;
                                            vertical-align: top;
                                            padding: 10px 10px;
                                            line-height: 22px;
                                            border-radius: 10px;                                          
                                          "
                                          valign="top"
                                        >
                                          <a
                                            style="
                                              text-decoration: none;
                                              color: #ffffff;
                                              text-align: center;
                                            "
                                            href="https://www.bandigital.com.br/"
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/sRhgdM26bquWWERQj_H99scTsVEM_lMRfXTeS6EHCXUVQQFwE1IMS1QkModOwh5zbtCex4BtCIbhdqBq-hRHykgwrZPkZAt3SxdT8F_VvlxqTbeypW-2Qmbhh_CuRFl260RHcC9RQaMrGyZxG22wQ6Vv1bh1O29AeyHqNM8EuR9UTjqqWWhRZZwWBBabi_M8jGAQIsviI_X01-6KlvF0_xMZao7KxZVtiitTrvSF0gbHLJiMhowS7Hw06eglglr7un9gbBVZDxbeyf6WM460Oz6cI7UUvERfJPkQyq58amXmfJrBBcF5cln3G0oaHKLzkPJkXCNe46ze_kI3IQS5ln_5IVVl4qzbQ_2-nXpsUjo%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNGfikUgldwZnJAY08CVVOc54GHAKA"
                                            >Clique aqui para realizar outra solicitação</a
                                          >
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="25"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table
        id="m_-9164766617201347847body_section9"
        cellpadding="0"
        cellspacing="0"
        align="center"
        border="0"
        width="100%"
        style="border-collapse: collapse; margin: 0 auto; min-width: 100%"
      >
        <tbody>
          <tr>
            <td>
              <table
                class="m_-9164766617201347847main"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="640"
                style="border-collapse: collapse; margin: 0 auto; width: 640px"
              >
                <tbody>
                  <tr>
                    <td bgcolor="#ffffff" style="background-color: #ffffff">
                      <table
                        class="m_-9164766617201347847inner_table"
                        cellpadding="0"
                        cellspacing="0"
                        align="center"
                        border="0"
                        width="600"
                        style="
                          border-collapse: collapse;
                          margin: 0 auto;
                          width: 600px;
                        "
                      >
                        <tbody>
                          <tr>
                            <td
                              height="0"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                font-family: Helvetica, Arial, Sans-serif;
                                font-size: 10px;
                                line-height: 14px;
                                color: #333333;
                              "
                              align="center"
                            >
                              <div id="m_-9164766617201347847Footer_Top_bar">
                                <table
                                  width="100%"
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="10"
                                  align="center"
                                  style="max-width: 600px"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        align="center"
                                        style="
                                          font-family: Helvetica, Arial,
                                            Sans-serif;
                                          font-size: 10px;
                                          line-height: 14px;
                                          color: #333333;
                                          border-top-color: #fefefe;
                                          border-top-style: solid;
                                          border-top-width: 1px;
                                          padding-top: 10px;
                                        "
                                      >
                                        <span
                                          ><a
                                            href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBahFXWuXf_Em6g3HYb4smXfv-r6pK_Xnpf27ZO6MTe6s76Dqgp05OUlbg1FV1XdfZbA="
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBahFXWuXf_Em6g3HYb4smXfv-r6pK_Xnpf27ZO6MTe6s76Dqgp05OUlbg1FV1XdfZbA%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNFXRKxDscJg4noLbfX3P-T_rQwsAA"
                                            ><img
                                              src="https://ci6.googleusercontent.com/proxy/SlTnEWQcKlsjE7XnPvmq1ofZuJ7-_ghKDy154Wcv7xI3N4iq-aQnt6cqpEs-89-WddJHTJV2-Cr_gCdQFr0CELJS5eeWZorhOGfs5e-0UonVCqxdlcBr1IcV7y0RyNY=s0-d-e1-ft#http://na-sj23.marketo.com/rs/112-TZM-766/images/EM_SocialIcons_Facebook.png"
                                              alt="Facebook"
                                              width="25"
                                              height="25"
                                              border="0"
                                              class="CToWUd" /></a></span
                                        >&nbsp;&nbsp;
                                        <span
                                          ><a
                                            href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBQ2ZKNghag9wvXAaDFpTHqRKY0FyuiYF1t8-JoSwhehVyCp4HKuRkW7lkmXw_nmGw-w="
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBQ2ZKNghag9wvXAaDFpTHqRKY0FyuiYF1t8-JoSwhehVyCp4HKuRkW7lkmXw_nmGw-w%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNFQcVBK_EOo4v-Ppn_ri7opId5XVw"
                                            ><img
                                              src="https://ci6.googleusercontent.com/proxy/NdLjPI8FBNBzkEajnDkQTChNhKQZ5bxKxu4saiU4Kt__lXTzuc1U1CgwbKV97DZon1reTssaMpRucXzWLKqfq_dsn-11Rzd8Xy3Tej7TxejfHEilycwcdFkTLcPk77o=s0-d-e1-ft#http://na-sj23.marketo.com/rs/112-TZM-766/images/EM_SocialIcons_LinkedIN.png"
                                              alt="LinkedIn"
                                              width="25"
                                              height="25"
                                              border="0"
                                              class="CToWUd" /></a></span
                                        >&nbsp;&nbsp;
                                        <span
                                          ><a
                                            href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBYLjVAyYqKyyudLW6LgBd5TeNpvk7U839PL04W94oDJx7JlqOJROPsRpMkTLMHXk9lc="
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBYLjVAyYqKyyudLW6LgBd5TeNpvk7U839PL04W94oDJx7JlqOJROPsRpMkTLMHXk9lc%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNGKtLAZcecTVHG5gbiHd8HiQoPG3Q"
                                            ><img
                                              src="https://ci4.googleusercontent.com/proxy/YRCK_Q3Grya5vu42aqkZHaH-9IgqOez5yQ9GXCFjI7Rk4zI-hluxZG8VIllNewK51ce9CX0eO2B5DceB6HbsvYijZmQGJ3Axlp_sXPLmGM8JuhHtZT6D6plsmGxlig=s0-d-e1-ft#http://na-sj23.marketo.com/rs/112-TZM-766/images/EM_SocialIcons_Twitter.png"
                                              alt="Twitter"
                                              width="25"
                                              height="25"
                                              border="0"
                                              class="CToWUd" /></a></span
                                        >&nbsp;&nbsp;
                                        <span
                                          ><a
                                            href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBbrabEOd5CdCTShhjqFfZZktekyNbYcaN0EQqJ5OUuqvV9IsawC8fO4x8fiTIc_gQrI="
                                            target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBbrabEOd5CdCTShhjqFfZZktekyNbYcaN0EQqJ5OUuqvV9IsawC8fO4x8fiTIc_gQrI%3D&amp;source=gmail&amp;ust=1624899798959000&amp;usg=AFQjCNFLCuvsaPMqm_mnkEqA-jr3S-s8Pg"
                                            ><img
                                              src="https://ci4.googleusercontent.com/proxy/d-tTNBMBACoa8PGJvmBDqupZaaqX6pFh0GgvCCaV9E9akKPXSLUjqb5TTbVh0Eqz2g8Dz4fuB4uUzLmNY3Z6Sc1IRgTqXjk3QpBhuorTQaxyU4u_13u4IS16BenlJg=s0-d-e1-ft#http://na-sj23.marketo.com/rs/112-TZM-766/images/EM_SocialIcons_YouTube.png"
                                              alt="YouTube"
                                              width="25"
                                              height="25"
                                              border="0"
                                              class="CToWUd" /></a
                                        ></span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                font-family: Helvetica, Arial, sans-serif;
                                font-size: 9px;
                                line-height: 14px;
                                color: rgb(51, 51, 51);
                                padding-top: 15px;
                              "
                              align="center"
                            >
                              <div id="m_-9164766617201347847Footer_Top_bar1">
                                <table
                                  width="100%"
                                  cellpadding="0"
                                  cellspacing="0"
                                  border="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        style="
                                          padding: 10px 0px 10px 0px;
                                          border-top: 1px solid #e8e8e8;
                                        "
                                      >
                                        <table
                                          align="center"
                                          width="100%"
                                          cellpadding="0"
                                          cellspacing="0"
                                          border="0"
                                          style="border-collapse: collapse"
                                        >
                                          <tbody>
                                            <tr>
                                              <td align="center">
                                                <table
                                                  align="center"
                                                  width="100%"
                                                  cellpadding="0"
                                                  cellspacing="0"
                                                  border="0"
                                                  style="
                                                    border-collapse: collapse;
                                                  "
                                                >
                                                  <!-- <tbody>
                                                    <tr>
                                                      <td
                                                        align="center"
                                                        style="
                                                          font-family: Helvetica,
                                                            Arial, Sans-serif;
                                                          font-size: 9px;
                                                          color: #999999;
                                                          line-height: 16px;
                                                        "
                                                      >
                                                        <a
                                                          href="https://email.awscloud.com/dc/yuZkfPEXXFT65tdReNucEvTRm1nqq5Eg9ByfCCxPZLBhFWAGCfvufj6dhVwTzEtOolfnQ7I_aKw9vWMMUczpQj3PhOyu_JrXWyzxQyb6d7NHCSkSHWkJrYQgTCK_QXo542ycpR-4ADtirGEa7lXsXOUwNn9lixEC425_XiSIqmDMXmMiegZz5Kat7axZNmIBKwD_2qrMRyMnuuXJmmp8lhYb8eDSSu_f5xFvH6KxL-iSE86sMyA6oCeTAY4np9n6EVLuc4JnbmaWyJ4pVkgV0JetbfXzW4AA_ni8YU6ChdNT3gH2IEb0T0FCvDlZgNa_7Vrmo_TonYoiVTQ0yp-61w==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/yuZkfPEXXFT65tdReNucEvTRm1nqq5Eg9ByfCCxPZLBhFWAGCfvufj6dhVwTzEtOolfnQ7I_aKw9vWMMUczpQj3PhOyu_JrXWyzxQyb6d7NHCSkSHWkJrYQgTCK_QXo542ycpR-4ADtirGEa7lXsXOUwNn9lixEC425_XiSIqmDMXmMiegZz5Kat7axZNmIBKwD_2qrMRyMnuuXJmmp8lhYb8eDSSu_f5xFvH6KxL-iSE86sMyA6oCeTAY4np9n6EVLuc4JnbmaWyJ4pVkgV0JetbfXzW4AA_ni8YU6ChdNT3gH2IEb0T0FCvDlZgNa_7Vrmo_TonYoiVTQ0yp-61w%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNHA_nhTuV-8n9__5SDoCsQEJqq5dQ"
                                                        >
                                                          Minha conta </a
                                                        >|
                                                        <a
                                                          href="https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD3ZZGcncVANDEUTkhckMhmjKLpc5CeluLOBeryeJSliZOd7HSaDnjFzd0Abmoc1XBg_ZsO98XU3bjoEZ7JcBssFtD4-EYqZnF2s3bbmtpeNUQ8J9Ccb33T--4phL53qGn4VM9XGL-RggsjbeDS0aMdGPrzvq6VGW4ljQp3bBVuOx97PYdQAOK28Lnhs-84p1UJyY9Gtm27vtMuVL3dirCdTEvypSUW1C0cW8BjvrfqArEktPboKBHd8AnFE_RSw5QLpSKCrgSvgwl-Mp2XszsVRxDQaY0tZlZn0rrxQTWeRnsGa4tj68gmLOsh6vY7uU9THt3raoCqk2qChPxsHwVcM=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD3ZZGcncVANDEUTkhckMhmjKLpc5CeluLOBeryeJSliZOd7HSaDnjFzd0Abmoc1XBg_ZsO98XU3bjoEZ7JcBssFtD4-EYqZnF2s3bbmtpeNUQ8J9Ccb33T--4phL53qGn4VM9XGL-RggsjbeDS0aMdGPrzvq6VGW4ljQp3bBVuOx97PYdQAOK28Lnhs-84p1UJyY9Gtm27vtMuVL3dirCdTEvypSUW1C0cW8BjvrfqArEktPboKBHd8AnFE_RSw5QLpSKCrgSvgwl-Mp2XszsVRxDQaY0tZlZn0rrxQTWeRnsGa4tj68gmLOsh6vY7uU9THt3raoCqk2qChPxsHwVcM%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGflJhZ22QG9_M4ZosaKQ7Db2R4tA"
                                                        >
                                                          Conceitos básicos</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p4cqVisGqB1O6HX4o5TDTFPHjYjB0mnTCzeqU2ae_UKuRwYUlLB3PjrBzUtM5wNagbAYAcIOCc57OHmQLblIInTnwdAdvQxMzpiq4eQjrhK-dIutx-jyLdiQfs8mkFua31GuPSAFgZ8EageN3w4WybYlQwmytX_VwOt4JiBdn0Sjxyr7uNTghhPe3UDJyCbFKuyJFJXYm0nIgr02domPQ-rqnqq8wvCBHvF931F8mIgJeJPA_toKKEriA3V-zHKyjmebv6JhPRqOudeXirWP0vAAuL6vx7iynpXHxEpHZeyA6HXQy-KoHa5OANJspX-tOg==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p4cqVisGqB1O6HX4o5TDTFPHjYjB0mnTCzeqU2ae_UKuRwYUlLB3PjrBzUtM5wNagbAYAcIOCc57OHmQLblIInTnwdAdvQxMzpiq4eQjrhK-dIutx-jyLdiQfs8mkFua31GuPSAFgZ8EageN3w4WybYlQwmytX_VwOt4JiBdn0Sjxyr7uNTghhPe3UDJyCbFKuyJFJXYm0nIgr02domPQ-rqnqq8wvCBHvF931F8mIgJeJPA_toKKEriA3V-zHKyjmebv6JhPRqOudeXirWP0vAAuL6vx7iynpXHxEpHZeyA6HXQy-KoHa5OANJspX-tOg%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNFnIhj1vf5BQ3vOMSj7vvz0K-j3iA"
                                                        >
                                                          Produtos</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p8U1m0pThWPS8HDkzJoucnUuXHXiDe7Ph7gqGCnX3LZQxFuij8j51IeCIYDR2slGPQ-FWYndct9x9wD07fPQk6yn-8auY_0C0DuRtvT5hgLqEl-5htstkkWJa1IFYqhQHjlgGEPyssPBcMUfLJRa_54MeEO9wv_CN5otTfDA6NZaPWj-uDhfPHjY-IPsQh1HCk_K_YbJDdyKdv7rsaytJe8Pbx9-qsp-mnOxSdQRy6jDkNgW-q9RjS1meDox3C5_0DuvxuTmlASXF3tcNIti5A52IHvf4yfsdhT0h9oaWi7CSda5votjjQ_2ubO7dWWingoUwXnuNjKc6NdnuhFUnwY=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p8U1m0pThWPS8HDkzJoucnUuXHXiDe7Ph7gqGCnX3LZQxFuij8j51IeCIYDR2slGPQ-FWYndct9x9wD07fPQk6yn-8auY_0C0DuRtvT5hgLqEl-5htstkkWJa1IFYqhQHjlgGEPyssPBcMUfLJRa_54MeEO9wv_CN5otTfDA6NZaPWj-uDhfPHjY-IPsQh1HCk_K_YbJDdyKdv7rsaytJe8Pbx9-qsp-mnOxSdQRy6jDkNgW-q9RjS1meDox3C5_0DuvxuTmlASXF3tcNIti5A52IHvf4yfsdhT0h9oaWi7CSda5votjjQ_2ubO7dWWingoUwXnuNjKc6NdnuhFUnwY%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGb7Ozmk6COMRO-kxE3AGvC-oMibg"
                                                        >
                                                          Soluções</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p2cy1ELLlkvByqWei9bfR--hojGlhPzUN78r_Zch2Htb0oxKqpZNIsYbW665Gfh6ywgOOYgvMwIlIwz2dGgJ04vZ26LqDtJ8CY4DY3ujTCz7obDOgf_dvEs98ZDguHarjRmFrjaesMK8_V7EfjLjrrnuR0DkHaUhV_3jxsQwOjLCNZQ8mjJwsA2m-p139jlsKvbAAdQdgvDBWzZZmBjyvLVP4GQiKokvCVeGY-7cIzVEVCyHbh6XJXIZTGNC0R2enJTEl8hrAMTFBqP4Bps6v6VMeX8RtpHwu1CGfMYaW6Dq8ccOzySyZ74K8zVYv7jyeQ==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p2cy1ELLlkvByqWei9bfR--hojGlhPzUN78r_Zch2Htb0oxKqpZNIsYbW665Gfh6ywgOOYgvMwIlIwz2dGgJ04vZ26LqDtJ8CY4DY3ujTCz7obDOgf_dvEs98ZDguHarjRmFrjaesMK8_V7EfjLjrrnuR0DkHaUhV_3jxsQwOjLCNZQ8mjJwsA2m-p139jlsKvbAAdQdgvDBWzZZmBjyvLVP4GQiKokvCVeGY-7cIzVEVCyHbh6XJXIZTGNC0R2enJTEl8hrAMTFBqP4Bps6v6VMeX8RtpHwu1CGfMYaW6Dq8ccOzySyZ74K8zVYv7jyeQ%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGmq6a8WFiSqHusYgoL3ShfijYKGQ"
                                                        >
                                                          Definição de preços</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7pwZEstDV9Ps9416YONcLSEF8r-AaBoFaCUYu1ZF75He0am_emr2l051mizyFt-0wTaParZM10RAqJAeO5qglihbVntdbyoi7wK76bZycn9rqRs3q2PR5YMLygCWflQjEvhT_1jtNp4Cu2LotNHfuO-dVdr8N-5x0eFk4hHS3nZcALFdOe0HW3FvOtY9Ep6Z11GKmG3GRYBRXdkGCs7Zv-duqMOhLzyyxuf77xQJX4aCDY5TsCAXrfGnUq-_I0GY6Vo2fq_svio_qhbH6wwC6KC6hx_AfWbdrjjzRvGOlSdWYAha3uvbQdcnGEqocibWy_g==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7pwZEstDV9Ps9416YONcLSEF8r-AaBoFaCUYu1ZF75He0am_emr2l051mizyFt-0wTaParZM10RAqJAeO5qglihbVntdbyoi7wK76bZycn9rqRs3q2PR5YMLygCWflQjEvhT_1jtNp4Cu2LotNHfuO-dVdr8N-5x0eFk4hHS3nZcALFdOe0HW3FvOtY9Ep6Z11GKmG3GRYBRXdkGCs7Zv-duqMOhLzyyxuf77xQJX4aCDY5TsCAXrfGnUq-_I0GY6Vo2fq_svio_qhbH6wwC6KC6hx_AfWbdrjjzRvGOlSdWYAha3uvbQdcnGEqocibWy_g%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNEd9cbZNqMgCf317jAXfGFeexr2UQ"
                                                        >
                                                          Parceiros</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p-ZQ749iALJ6Yd3d1oPtC01N1IC_o2OvptCjYrzUTP1po01fJ_fh0V7xQxTUh1G9tphn5StCkiqHyUfd5pCr9epTHwS2THZ-LoqEvooDdUOTz7EtUCQuDzDp1J0usjCztSd1dFxhgl8gscxw8_rE14xONbCdS0GkJLRz-JNqLbwXtQOmkq_MIEAp3Fh60-sDCaO5pUM1UAyRZ7QSZ4xHwX05lnlmpzi4m64SY0L70-V7AQc_zpaCTMaPCwwWYJvW4ZpzDmx6PZIOxJXJ3aMvbDJLSoEKXBwzOstfyo2Axhn95QRkuqLID-yawaICwcrXPlYWfbcif6I9wDMdbLPvvt4=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p-ZQ749iALJ6Yd3d1oPtC01N1IC_o2OvptCjYrzUTP1po01fJ_fh0V7xQxTUh1G9tphn5StCkiqHyUfd5pCr9epTHwS2THZ-LoqEvooDdUOTz7EtUCQuDzDp1J0usjCztSd1dFxhgl8gscxw8_rE14xONbCdS0GkJLRz-JNqLbwXtQOmkq_MIEAp3Fh60-sDCaO5pUM1UAyRZ7QSZ4xHwX05lnlmpzi4m64SY0L70-V7AQc_zpaCTMaPCwwWYJvW4ZpzDmx6PZIOxJXJ3aMvbDJLSoEKXBwzOstfyo2Axhn95QRkuqLID-yawaICwcrXPlYWfbcif6I9wDMdbLPvvt4%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNErYtSSNUH6pY3Wr6Ta9dOb6Vh1yQ"
                                                        >
                                                          Documentação</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p_qWKeonTop1TVJlHau9PECVqCWxK_yFPuI6uoEMmeaCdv1NBUJEgrwUWeMmrt04kBXuevJtNyYC76c0iH43VDvuO3Aj1nnZUDtDDmGu7N8SaTI0Cmq3g2j68he7gIN6GD64ORo3dASG9Rp5FchHAExpnx1e2kCc8Xw-wLaVRGFbanxMzUCWDJRTjapNXbBHiNJLLoRUU9Lo3hG50OsnI04_zzuytWaNBgihxxLi0tAG6XaKjsbMWEeKP9sJXFwFmYh6MW3aNEpYoFOYzfxbzcDsRbB9TZD6ls35NRmbuH8Sz2sOPxJ_-P3EfQ1NTQisYQ==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p_qWKeonTop1TVJlHau9PECVqCWxK_yFPuI6uoEMmeaCdv1NBUJEgrwUWeMmrt04kBXuevJtNyYC76c0iH43VDvuO3Aj1nnZUDtDDmGu7N8SaTI0Cmq3g2j68he7gIN6GD64ORo3dASG9Rp5FchHAExpnx1e2kCc8Xw-wLaVRGFbanxMzUCWDJRTjapNXbBHiNJLLoRUU9Lo3hG50OsnI04_zzuytWaNBgihxxLi0tAG6XaKjsbMWEeKP9sJXFwFmYh6MW3aNEpYoFOYzfxbzcDsRbB9TZD6ls35NRmbuH8Sz2sOPxJ_-P3EfQ1NTQisYQ%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNHzNmpRTEpwbWV9lqUWvT4kRfYBDg"
                                                        >
                                                          Treinamento</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p9MwfMxNMOCe_0VHXzfN8dN-Pg8LCpQSQaN0TBrjXosT8IVHM7g9SjZ9JhEtgldhBS0iyZYtf3siaFQe5kwoR_RYUHMBFwuXtQ7_FEjdjZtvynPQY7lo7iq7Yifcg_pKIXG7YlKtcta2rN-WN8Bmd7MyMldBkeXE_ALx5JSZZkikz4wcY8gfs8pXCABrgm91CyGfntKybr6bczB1pV0AmJDLkne1-yMiorbbmxTFpYQYLpugLesxiA6lp__MAGCzcxrC0NwIGUfWJ0HzNNdmgc_hnzIK0b_46rt7g9Hb2HuVq7q_btam_NtepDrXQ0Bn7OX8gziT4HffhSfmd3skXPU=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p9MwfMxNMOCe_0VHXzfN8dN-Pg8LCpQSQaN0TBrjXosT8IVHM7g9SjZ9JhEtgldhBS0iyZYtf3siaFQe5kwoR_RYUHMBFwuXtQ7_FEjdjZtvynPQY7lo7iq7Yifcg_pKIXG7YlKtcta2rN-WN8Bmd7MyMldBkeXE_ALx5JSZZkikz4wcY8gfs8pXCABrgm91CyGfntKybr6bczB1pV0AmJDLkne1-yMiorbbmxTFpYQYLpugLesxiA6lp__MAGCzcxrC0NwIGUfWJ0HzNNdmgc_hnzIK0b_46rt7g9Hb2HuVq7q_btam_NtepDrXQ0Bn7OX8gziT4HffhSfmd3skXPU%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNHR4X2Ygrsvs42U1mytySykeaCCNg"
                                                        >
                                                          Eventos e webinars</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p-2g1ZV1YttvPmpZ_2arul57mxDH2hDP7-PmcfGWWgd-6RPIWjj02a-vLqrF9mXq2BQuHyZwa8X9Uw1JL4AfSx7OfE9-XvfHHSLQWMFRuASM0Gusu8oKZ4vre-qzkY0wpv1ZlLJUa5oM6UTgZqYd-auCxVNZl5BnfPYxSb-sZ3KNTbDnAt99hk8bn-Y5Rxuyfl6etuzvf8gRKt3uuzNz05eLb7DklyA0stoLypR0GyRBLoJRolO5glQpyV35o1d6cLGCvJBX2RfFxqYRLwkJ6gaa65eLQSNucyhc3lENp9I9SLGcMKbcrSdZghpycUMCbQ==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p-2g1ZV1YttvPmpZ_2arul57mxDH2hDP7-PmcfGWWgd-6RPIWjj02a-vLqrF9mXq2BQuHyZwa8X9Uw1JL4AfSx7OfE9-XvfHHSLQWMFRuASM0Gusu8oKZ4vre-qzkY0wpv1ZlLJUa5oM6UTgZqYd-auCxVNZl5BnfPYxSb-sZ3KNTbDnAt99hk8bn-Y5Rxuyfl6etuzvf8gRKt3uuzNz05eLb7DklyA0stoLypR0GyRBLoJRolO5glQpyV35o1d6cLGCvJBX2RfFxqYRLwkJ6gaa65eLQSNucyhc3lENp9I9SLGcMKbcrSdZghpycUMCbQ%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNEVbwAg9XNlXTrRTDVSBpynQxCElQ"
                                                        >
                                                          AWS Activate</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD78in__VMI_zdbVDMzZ3kSvR93Srg3KACAeaH-feV6n8fFZFwLCyL52zEa_l-HxV0F7erJID0lVL9CNR9ZCM_K4GC-OI9S14SB6P7Y7qslNQ22XGN1RMe2CbZB4DA6k9X8M0wiN-x58PzceCfuIKQGXqq1d7M4D7vS0btTsEESDbc_QblT1O-SE1bS5TJZyqujxt_gQTLTtCts413bs_HK0upx-MR_WXWtzScpaDhvjUa-yPw__CEwZIP8FJiZmBFlfB7_t3lOMoO8AkXYzXoOT0RRjuFWU7OeOUgRFIkQG6IrDnchERnJ3uk8ymRHIPQUZwk-qDF_7YwEdUBiXdD_8=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD78in__VMI_zdbVDMzZ3kSvR93Srg3KACAeaH-feV6n8fFZFwLCyL52zEa_l-HxV0F7erJID0lVL9CNR9ZCM_K4GC-OI9S14SB6P7Y7qslNQ22XGN1RMe2CbZB4DA6k9X8M0wiN-x58PzceCfuIKQGXqq1d7M4D7vS0btTsEESDbc_QblT1O-SE1bS5TJZyqujxt_gQTLTtCts413bs_HK0upx-MR_WXWtzScpaDhvjUa-yPw__CEwZIP8FJiZmBFlfB7_t3lOMoO8AkXYzXoOT0RRjuFWU7OeOUgRFIkQG6IrDnchERnJ3uk8ymRHIPQUZwk-qDF_7YwEdUBiXdD_8%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNG5zi7PwRHKQYL3_GNXrWYN2hCOdg"
                                                          >Marketplace</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p7og2A_qEWVUdkv18t9fey9FRpCN_3oiMil77N9r0aFdrvDhnACgO8sFzY3HoobHE5BQNSoa-a7b4EUiV7ljhcISySsvLMZ09U6CxJJlZANRif42ZhDBxDoVuM6veTQxPQxMYRyNerPST7DWtIZx6sdvQp1dIBd66zuVyQXMMAou-C7M-iMPebNrtT-_55K8l5UToXqIrMKPCkpMLDEvIIQk1jAXbz-kOZ_r5xzxzh6APrkTu5uyejXH7cepspqp9IiuA0HXUv8OA90ws94_TfG1gxS1-bcLY5Z-VGgaSTefblOv_WPlkLwFwN4zdX7a1Q==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p7og2A_qEWVUdkv18t9fey9FRpCN_3oiMil77N9r0aFdrvDhnACgO8sFzY3HoobHE5BQNSoa-a7b4EUiV7ljhcISySsvLMZ09U6CxJJlZANRif42ZhDBxDoVuM6veTQxPQxMYRyNerPST7DWtIZx6sdvQp1dIBd66zuVyQXMMAou-C7M-iMPebNrtT-_55K8l5UToXqIrMKPCkpMLDEvIIQk1jAXbz-kOZ_r5xzxzh6APrkTu5uyejXH7cepspqp9IiuA0HXUv8OA90ws94_TfG1gxS1-bcLY5Z-VGgaSTefblOv_WPlkLwFwN4zdX7a1Q%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNE_L9NBWfnOlBgD6dgFpa5eA-JYOQ"
                                                        >
                                                          Novidades</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p0486BTljVMiJxb-dUE36Fa71K9s92Yg6Y5tTGnJhLaJZ5TalFq7sGs7rTw_-8-hxM-N40gwPhC9ihNMKwGYuAe0IAbKtdmavR1rNnpnPXqCwKa5Z5Yh3u4RqSDMhbHCvAP15DvNdtCVOATivbfDgRVxj8u6rDhS1LHRKQYbOjyA0v-VmDzy8uvTHO5-SFnLISRGzmlJZTRf-4CP-EK2bbevSe1dqj_DlOyHiFMTjG2OJk1nBkVdKGGCCmozjLrAsEctu-ikKIPKCGU0QADY2ylH3w8c9qJkbvB-PC-9sxgwoP_OJ1UJ24O9S3sLiwos1Mi5Khtr7o2SsdxllNDFTLs=/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/ajD_BapU74vzOhWVQvr7p0486BTljVMiJxb-dUE36Fa71K9s92Yg6Y5tTGnJhLaJZ5TalFq7sGs7rTw_-8-hxM-N40gwPhC9ihNMKwGYuAe0IAbKtdmavR1rNnpnPXqCwKa5Z5Yh3u4RqSDMhbHCvAP15DvNdtCVOATivbfDgRVxj8u6rDhS1LHRKQYbOjyA0v-VmDzy8uvTHO5-SFnLISRGzmlJZTRf-4CP-EK2bbevSe1dqj_DlOyHiFMTjG2OJk1nBkVdKGGCCmozjLrAsEctu-ikKIPKCGU0QADY2ylH3w8c9qJkbvB-PC-9sxgwoP_OJ1UJ24O9S3sLiwos1Mi5Khtr7o2SsdxllNDFTLs%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNHul0jKVLL6Vg-BWFUqjfxzgnZfgg"
                                                          >Blog</a
                                                        >
                                                        |
                                                        <a
                                                          href="https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD5aQqce63OVL6baXF6dCre2fFfS1oodd2_7Kq1Lg_WJRi8IOWMc6LUBIdAnqXU3Q57DzPoIXPrvykEcSl8H3zlBjpAXq2htx4TgdRCgsKZ-nNS9RG7HGxMGoo4oOoAxPg-BlHKcQ4_CR5jSCG5nkiaptkvOBwp5t6f-rsmTPYuygA5m8ekz16QpFuNTWvtmB-0SyXWu1-Q1g6SsbqdcJ9JjJURxs1fjGJFsuw5ZNBZgUDbiLmYj-oO8jEOR4wFJD2xdm7e5Y85v-Li_WZks4mJp0WfE8zq821wQfhq6BWtLSEPoozhTTWQELzt7cqq_wLPCTLSrV4RLfkVT-_G__ACOcgBY0xl4XW46GcKj8nMdqXkmk7s5-cQCx_AnZ8sJ2Tw==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                          style="
                                                            color: #146eb4;
                                                            text-decoration: none;
                                                          "
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/KwqiTCOQ16Q1JCi3MdelD5aQqce63OVL6baXF6dCre2fFfS1oodd2_7Kq1Lg_WJRi8IOWMc6LUBIdAnqXU3Q57DzPoIXPrvykEcSl8H3zlBjpAXq2htx4TgdRCgsKZ-nNS9RG7HGxMGoo4oOoAxPg-BlHKcQ4_CR5jSCG5nkiaptkvOBwp5t6f-rsmTPYuygA5m8ekz16QpFuNTWvtmB-0SyXWu1-Q1g6SsbqdcJ9JjJURxs1fjGJFsuw5ZNBZgUDbiLmYj-oO8jEOR4wFJD2xdm7e5Y85v-Li_WZks4mJp0WfE8zq821wQfhq6BWtLSEPoozhTTWQELzt7cqq_wLPCTLSrV4RLfkVT-_G__ACOcgBY0xl4XW46GcKj8nMdqXkmk7s5-cQCx_AnZ8sJ2Tw%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGZ-nbKepNOHGEnLiULR-dKJdrbSw"
                                                          >Relatórios de
                                                          analistas</a
                                                        ><br />
                                                        <br /><span
                                                          style="
                                                            font-size: 11px;
                                                          "
                                                          ><strong
                                                            ><a
                                                              href="https://pages.awscloud.com/index.php/email/emailWebview?mkt_tok=MTEyLVRaTS03NjYAAAF9zhjDBbFIR9GxsbuXZ-HkHY7KvZRtMioL8xJ8DOTNfet74C2AWWTh1YZ-3Qf--Z1h1tFdakQMC-Np2lqxCVD2cq7uFipfkrafEWOz9i2N3642CewBg-Jl&amp;md_id=277383&amp;aliId=jE9Vds3PKAAM4BEIi5DuTMqL6FulCfHBw9gEcZOKvrNXqTsWHZG%2BRw%3D%3D"
                                                              style="
                                                                color: #146eb4;
                                                                text-decoration: none;
                                                                font-size: 11px;
                                                              "
                                                              target="_blank"
                                                              data-saferedirecturl="https://www.google.com/url?q=https://pages.awscloud.com/index.php/email/emailWebview?mkt_tok%3DMTEyLVRaTS03NjYAAAF9zhjDBbFIR9GxsbuXZ-HkHY7KvZRtMioL8xJ8DOTNfet74C2AWWTh1YZ-3Qf--Z1h1tFdakQMC-Np2lqxCVD2cq7uFipfkrafEWOz9i2N3642CewBg-Jl%26md_id%3D277383%26aliId%3DjE9Vds3PKAAM4BEIi5DuTMqL6FulCfHBw9gEcZOKvrNXqTsWHZG%252BRw%253D%253D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGNlvcpI0ljr_pgnvt6JH6mePm_RA"
                                                              >Visualizar
                                                              online</a
                                                            ></strong
                                                          ></span
                                                        >
                                                      </td>
                                                    </tr>
                                                  </tbody> -->
                                                </table>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="15"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td
                              style="
                                font-size: 12px;
                                line-height: 18px;
                                font-family: Helvetica, Arial, sans-serif;
                                color: #666666;
                              "
                              align="center"
                            >
                              <div id="m_-9164766617201347847Footer_Top_bar3">
                                <div id="m_-9164766617201347847Footer">
                                  <table
                                    style="max-width: 600px"
                                    width="100%"
                                    cellspacing="0"
                                    cellpadding="0"
                                    border="0"
                                    align="center"
                                  >
                                    <tbody>
                                      <tr>
                                        <td
                                          class="
                                            m_-9164766617201347847font-family-decor
                                          "
                                          style="
                                            font-size: 12px;
                                            line-height: 18px;
                                            color: #666666;
                                          "
                                          align="center"
                                        >
                                          <!-- <dl>
                                            <dt
                                              style="
                                                color: #666666;
                                                font-size: 10px;
                                                text-align: center;
                                              "
                                            >
                                              Se preferir não receber e-mails da
                                              Amazon Web Services no futuro,
                                              <a
                                                href="https://email.awscloud.com/dc/sRhgdM26bquWWERQj_H99lCavgYp1xy4_-5c9n1WxRAg-Iit3iVTUYZUZlQmzz1BTdI04NvsSqvrTM6rSnQGNE7u0izR2mDymghKXNuyYstqDTk1P_g42Ygd2Ip7IDX681qdH0QDFgkbh8AZYejvr0YzY4IQnraIrKB0XrE7UZcwmcy-H0kwtaUZ3_h-XXDR_yJvQFcyvNA8S1x-GHillBvAKIqXa_-pbXJ_ZnQ0SDdgOfKgDapqMmsPR3Oa44rBIDgiZ4F96DmbDQ6VY8JSy7U3fveWej8gFM_11YXy4T0pDaNv7IWxLQ1XMGCu8ntoscTntd3J93qn2uX1spjOCBs--4olwKQcAT6rLXoXTiZAOz-e8Y3ThKMgPgyjgJPrRhZS60GjyeeV-_8J90vRxQ==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                                                style="
                                                  color: #007eb9;
                                                  font-size: 10px;
                                                  text-decoration: none;
                                                "
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/sRhgdM26bquWWERQj_H99lCavgYp1xy4_-5c9n1WxRAg-Iit3iVTUYZUZlQmzz1BTdI04NvsSqvrTM6rSnQGNE7u0izR2mDymghKXNuyYstqDTk1P_g42Ygd2Ip7IDX681qdH0QDFgkbh8AZYejvr0YzY4IQnraIrKB0XrE7UZcwmcy-H0kwtaUZ3_h-XXDR_yJvQFcyvNA8S1x-GHillBvAKIqXa_-pbXJ_ZnQ0SDdgOfKgDapqMmsPR3Oa44rBIDgiZ4F96DmbDQ6VY8JSy7U3fveWej8gFM_11YXy4T0pDaNv7IWxLQ1XMGCu8ntoscTntd3J93qn2uX1spjOCBs--4olwKQcAT6rLXoXTiZAOz-e8Y3ThKMgPgyjgJPrRhZS60GjyeeV-_8J90vRxQ%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNGqdpCEks_B3iW4ZSY-iNvpogX_TQ"
                                                >cancele sua inscrição aqui</a
                                              >.
                                            </dt>
                                            <dt
                                              style="
                                                color: #666666;
                                                font-size: 10px;
                                                text-align: center;
                                              "
                                            >
                                              Amazon Web Services, Inc. é uma
                                              subsidiária da Amazon.com, Inc.
                                              Amazon.com é uma marca comercial
                                              registrada da Amazon.com.
                                            </dt>
                                            <dt
                                              style="
                                                color: #666666;
                                                font-size: 10px;
                                                text-align: center;
                                              "
                                            >
                                              Esta mensagem foi produzida e
                                              distribuída pela Amazon Web
                                              Services, Inc. ou suas
                                              <a
                                                href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBWAzL8TGBjF1wabT0RB-wkW_5NxWIF7GR0cBCwurQ6c9ZCIbWdSOT4PlYulf0GMJNJY="
                                                style="
                                                  color: #007eb9;
                                                  font-size: 10px;
                                                  text-decoration: none;
                                                "
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBWAzL8TGBjF1wabT0RB-wkW_5NxWIF7GR0cBCwurQ6c9ZCIbWdSOT4PlYulf0GMJNJY%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNF9vWYPPlGQQie3oh-YP16utxhDaQ"
                                                >afiliadas</a
                                              >, 410 Terry Ave. North, Seattle,
                                              WA 98109.
                                            </dt>
                                            <dt
                                              style="
                                                color: #666666;
                                                font-size: 10px;
                                                text-align: center;
                                              "
                                            >
                                              © 2021, Amazon Web Services, Inc.
                                              ou suas afiliadas. Todos os
                                              direitos reservados. Leia nossa
                                              <a
                                                href="https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBcBWmxRUDi7lPgrLmxQxxloWVhuKuCoq0Sa9s4tG-tQuHQbLOPpQ75vpSUVM16XnraI="
                                                style="
                                                  color: #007eb9;
                                                  font-size: 10px;
                                                  text-decoration: none;
                                                "
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/MTEyLVRaTS03NjYAAAF9zhjDBcBWmxRUDi7lPgrLmxQxxloWVhuKuCoq0Sa9s4tG-tQuHQbLOPpQ75vpSUVM16XnraI%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNFwXFC4d0j62KyCQeOkQmb5-YlvDw"
                                                >Notificação de privacidade</a
                                              >.
                                            </dt> -->
                                          </dl>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td
                              height="10"
                              style="line-height: 1px; font-size: 1px"
                            >
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="border-collapse: collapse; width: 100%; min-width: 100%"
      >
        <tbody>
          <tr>
            <td valign="top" style="vertical-align: top">
              <table
                class="m_-9164766617201347847inner_table"
                cellpadding="0"
                cellspacing="0"
                align="center"
                border="0"
                width="600"
                style="border-collapse: collapse; margin: 0 auto; width: 600px"
              >
                <!-- <tbody>
                  <tr>
                    <td style="text-align: center">
                      <a
                        href="https://email.awscloud.com/dc/qXUrgU3MlBotfeZ84P-vCWiV7sv5FQ8zzkyS3FN4Qmc7zdP0LY515nh1Uy5bhcFTeHOPPxR-ry4mZHUCItXScF6Ub5eyglFxiJtk-xeu7WrLXWJ7M-ndEyADyXlqSqAIO4CQVlYnpkBdMQ0p92T7R5QDPXge7pB4jLUB8Ca4BnXcv3otqZLlqGxBGfjNhEFBHM4Bivg6oGj_58KiV1Eowy7lpJeuFq12tYQIf22VnmQxWjbpdnNY1u_9-l-DC227CPiddDvYtTAKU7xBaB47vA==/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU="
                        style="display: block"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?q=https://email.awscloud.com/dc/qXUrgU3MlBotfeZ84P-vCWiV7sv5FQ8zzkyS3FN4Qmc7zdP0LY515nh1Uy5bhcFTeHOPPxR-ry4mZHUCItXScF6Ub5eyglFxiJtk-xeu7WrLXWJ7M-ndEyADyXlqSqAIO4CQVlYnpkBdMQ0p92T7R5QDPXge7pB4jLUB8Ca4BnXcv3otqZLlqGxBGfjNhEFBHM4Bivg6oGj_58KiV1Eowy7lpJeuFq12tYQIf22VnmQxWjbpdnNY1u_9-l-DC227CPiddDvYtTAKU7xBaB47vA%3D%3D/MTEyLVRaTS03NjYAAAF9zhjDBfJ0Yq9IqcoS20FbAJZ-IewaDJCwG7jg6TOFLh8-YYXP6_DcusQaU35qOKbf5IB1OXU%3D&amp;source=gmail&amp;ust=1624899798960000&amp;usg=AFQjCNHXTzwhnCguURr4QwX5YbuBCVJ86Q"
                        ><img
                          style="border: 0; display: block; width: 600px"
                          border="0"
                          src="https://ci3.googleusercontent.com/proxy/eYLOQ40t4J2JNHlsnuYNi54FA29OB-oNhaGhmOvmRgQtTtACNoB9PoizSwDvT4wJNoFztZraKlvJDr0jb2TtxLQENMTLCk1_Aadjcl5BBvcioKGO-u-jvmFsN1UwDurjhyhNeLNnDPe_bG1-IXpOcf_pr8MGNdhtNRoHS9aTKjgSTJQ=s0-d-e1-ft#https://assets.awscloud.com/p/rp/97bc38ab7f50bd2b.png?show-content=&amp;campaign=&amp;language=Portuguese&amp;program-token="
                          class="m_-9164766617201347847full-width CToWUd"
                      /></a>
                    </td>
                  </tr>
                </tbody> -->
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
